.text-blue {
  color: #4ca757;
}

.text-run {
  background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
  background-clip: text;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 150px;
  text-transform: uppercase;
  color: black;
  -webkit-text-stroke: 1px #16a571; /* Adjust the width and color */
  color: transparent;

}


.button-group {
  display: flex;
  gap: 10px;
}

.button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.322);
  border: 1px solid #16a571;
}

.button-active {
  background-color: white;
  border: 1px solid #16a571;
}

.button-green {
  background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
}

/* line */
.line-green {
  width: 284.229px;
  height: 3px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
}
