.header {
  position: fixed;
  left: 0;
  color: white;
  width: 100%;
  padding: 0 5%;
  z-index: 100;
  animation: heightChange 0.5s ease-in forwards;
}

/* Xử lý animation header */

@keyframes heightChange {
  0% {
    top: -155px;
  }
  100% {
    top: 0;
  }
}

@keyframes heightChangeReverse {
  from {
    top: 0;
  }
  to {
    top: -155px;
  }
}

.height__change {
  animation: heightChange 0.5s ease-in forwards;
}

.height__change-reverse {
  animation: heightChangeReverse 0.5s ease-in forwards;
}

.header__down {
  background-color: white;
  color: black;
}

.header__down > div > p {
  border: 1px solid black;
}

.header__show {
  background-color: #f8f0f060;
  border: none;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header__to-top {
  top: 30px;
}
/*  */

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  align-items: center;
  z-index: 50;
}

.header__top-img {
  width: 122px;
  height: 74px;
}

.header__top-number {
  width: 152px;
  height: 40px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 12px 7px 12px;
  text-align: center;
}

.header__main-item {
  flex: 1;
  border-top: 1px solid white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  z-index: 100;
  line-height: 20px;
}

.header__down .header__main-item {
  border-top: 1px solid black;
}

.header__main-item:hover .header__main-navbar {
  display: block;
}

.header__main-navbar {
  display: none;
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
  width: 100vw;
  height: 100vh;
  z-index: 50; 
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 200px;
}

.header__main-navbar > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 27px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  list-style: none;
  width: 300px;
}

.header__main-navbar > img {
  width: 342px;
  height: 391px;
  flex-shrink: 0;
  margin: 0 40px 0 184px;
}

.header__main-navbar-introduce {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.header__main-navbar-introduce > h1 {
  color: #fff;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}

.header__main-navbar-introduce > p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 24px;
  width: 427px;
  margin-bottom: 32px;
}

.header__main-navbar-introduce > button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
  outline-width: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  z-index: 19;
  justify-content: space-around;

}

.menu-item {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 10px 10px 10px 0;
  margin-right: 25px;
  z-index: 10;
}

.menu-item-container {
  display: flex;
  align-items: center;
}

.menu-item-text {
  margin-right: 5px;
}
.menu-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu {
  position: fixed;
  background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
  top: 130px;
  opacity: 0;
  z-index: 9; 
  list-style: none;
  animation: showSubmenuReverse 0.4s forwards ease-in;
}

.header + .menu-item:hover  {
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
}

.menu-item:hover .sub-menu {
  visibility: visible;
  animation: showSubmenu 0.6s forwards ease-in-out;
}

@keyframes showSubmenu {
  0% {
    width: 50%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0vh;
  }
  100% {
    width: 100vw;
    opacity: 1;
    transform: translateX(0%);
    left: 0;
    transform: translateX(0);
    height: 100vh;
  }
}

@keyframes showSubmenuReverse {
  0% {
    top: 130px;
    width: 100vw;
    opacity: 1;
    transform: translateX(0%);
    left: 0;
    transform: translateX(0);
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    width: 50%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0vh;
    top: calc(50% - 130px);
  }
}


.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu-item {
  padding: 5px;
}

.sub-menu-item a {
  color: #fff;
  text-decoration: none;
  list-style: none;

}

.sub-menu-item a:hover {
  color: #007bff;
}
.menu-item-text1::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15); 
  position: absolute;
  top: 0;
  left: 0;
}

.menu-item-text1::after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  animation: widthChangeReverse 0.5s ease-in forwards;
}

.menu-item-text1:hover::after {
  animation: widthChange .5s ease-in forwards;
}

@keyframes widthChange {
  from {
    background-color: rgba(255, 255, 255, 0.15);
    width: 0px;
  }
  to {
    background-color: white;
    width: 100%;
  }
}

@keyframes widthChangeReverse {
  from {
    width: 100%;
    background-color: white;
  }
  to {
    background-color: rgba(255, 255, 255, 0.15);
    width: 0px;
  }
}

.element-to-animate {
  animation: widthChange 2s ease-in; /* Sử dụng animation widthChange trong 2 giây với hiệu ứng "ease" */
}

.header__down .menu-item-text1::before {
  background-color: black; 
}

.header-icon-mobile {
  display: none;
}