.header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 90%;
  margin: 0 5%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  align-items: center;
}

.header__top-img {
  width: 122px;
  height: 74px;
}

.header__top-number {
  width: 152px;
  height: 40px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 12px 7px 12px;
  text-align: center;
}

.header__main {
  display: flex;
  gap: 25px;
}

.header__main-item {
  flex: 1;
  border-top: 1px solid white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
