.header {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 0 5%;
  z-index: 100;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  align-items: center;
  z-index: 50;
}

.header__top-img {
  width: 122px;
  height: 74px;
}

.header__top-number {
  width: 152px;
  height: 40px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 12px 7px 12px;
  text-align: center;
}

.header__main {
  display: flex;
  gap: 25px;
  width: 100%;
}

.header__main-item {
  flex: 1;
  border-top: 1px solid white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header__main-item:hover .header__main-navbar {
  display: flex;
}

.header__main-navbar {
  display: none;
  position: absolute; /* Change position to fixed */
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
  width: 100vw;
  height: 100vh;
  z-index: 50; 
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 200px;
}

.header__main-navbar > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 27px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  list-style: none;
  width: 300px;
}

.header__main-navbar > img {
  width: 342px;
  height: 391px;
  flex-shrink: 0;
  margin: 0 40px 0 184px;
}

.header__main-navbar-introduce {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.header__main-navbar-introduce > h1 {
  color: #fff;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 46.8px */
}

.header__main-navbar-introduce > p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 24px;
  width: 427px;
  margin-bottom: 32px;
}

.header__main-navbar-introduce > button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 225% */
  outline-width: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
