.member {
    opacity: 0.95;
    background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
    padding: 120px 5% 100px 5%;
    color: white;
}

.member__top {
    display: flex;
}

.member__top-left {
    flex: 1;
}

.member__top-left > p:first-child {
    text-transform: uppercase;
}

.member__top-left > p {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 150% */
    letter-spacing: 2.16px;
    width: 550px;
    margin-bottom: 25px;
}

.member__top-left > h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 133.333% */
    letter-spacing: -3px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.member__top-right {
    flex: 1;
}

.member__top-right {
    display: flex;
    gap: 24px;
    align-items: center;
}

.member__top-right-item {
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.member__img-active1 {
    background-image: url('assets/images/logoMember1.png');
    width: 300px;
    height: 300px;
    background-color: white;
    background-size: 80%;
}

.member__img-nonactive1 {
    background-image: url('assets/images/logoMember1NoActive.png');
}

.member__img-active2 {
    background-image: url('assets/images/logoMember2.png');
    width: 300px;
    height: 300px;
    background-color: white;
}

.member__img-nonactive2 {
    background-image: url('assets/images/logoMember2NoActive.png');
}

.member__img-active3 {
    background-image: url('assets/images/logoMember3.png');
    width: 300px;
    height: 300px;
    background-color: white;    
}

.member__img-nonactive3 {
    background-image: url('assets/images/logoMember3NoActive.png');
}

.member__bottom {
    margin-top: 50px;    
}

.member__bottom > h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 121.739% */
    letter-spacing: -2.3px;
    max-width: 1100px;
    margin-top: 25px;
}

.member__bottom-archive {
    display: flex;
    margin-top: 50px;
}

.member__bottom-archive-item {
    flex: 1;
}

.member__button-number {
    display: flex;
}

.member__bottom-archive-item .member__bottom-countUp {
    display: flex;
    margin-right: 5px;
    font-size: 125px;
    font-style: normal;
    font-weight: 700;
    line-height: 95px;
    text-transform: uppercase;
    opacity: 0.9;
    -webkit-text-stroke: 1px white; 
    background: linear-gradient(181deg, #FFF 1.18%, rgba(255, 255, 255, 0.00) 117.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.member__bottom-archive-item .member__bottom-plus {
    margin-top: -25px;
    font-size: 75px;
    opacity: 0.8;
    background: linear-gradient(180deg, #FFF 30.85%, rgba(255, 255, 255, 0.00) 81.05%);
    background-clip: text;
    font-style: normal;
    font-weight: 700;
    line-height: 95px; /* 76% */
    text-transform: uppercase;
    -webkit-text-stroke: 1px white; 
    background: linear-gradient(181deg, #FFF 1.18%, rgba(255, 255, 255, 0.00) 117.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    backdrop-filter: blur(2px);
}

.member__bottom-archive-item .member__bottom-info-number {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    text-transform: uppercase;
    margin-top: 20px;
}

[data-aos="fade-up"] {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
  }
  
  /* Khi chữ cái hiển thị */
  [data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
/* text animation */
.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUp 0.5s ease-in-out forwards;
    animation-delay: 0.1s;
  }
  
  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .visible .letter {
    animation-play-state: running;
  }

/* circle animation */

.scale-in-center {
	-webkit-animation: scale-in-center .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-center-reverse {
	-webkit-animation: scale-in-center-reverse .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center-reverse .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      width: 170px;
      height: 170px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
        width: 170px;
        height: 170px;
      opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes scale-in-center-reverse {
    0% {
        width: 300px;
        height: 300px;
        opacity: 1;
    }
    100% {
        width: 170px;
        height: 170px;
        opacity: 1;
    }
  }
  @keyframes scale-in-center-reverse {
    0% {
        width: 300px;
        height: 300px;
        opacity: 1;
    }
    100% {
        width: 170px;
        height: 170px;
        opacity: 1;
    }
  }