@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    /* member */
    .member__top-left {
        flex-direction: column
    };

    .member__bottom-archive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .member__bottom-archive-item {
        width: 50%;
    }
    /* locate */
    .locate {
        display: none;
    }
    /* client */
    .client {
        display: none;
    }

    .client__box {
        width: 355px;
        height: 294px;
    }

    .client__box h1 {
        text-align: center;
        font-size: 20px;
        width: 334px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 24px */
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    /* footer */
    .footer__top {
        flex-direction: column;
    }

    .footer__logo {
        text-align: left;
    }
    .footer__logo-des {
        width: 300px;
    }

    .footer__middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__middle  > p {
        font-size: 13px;
    }

    .footer__middle > p:nth-child(2){
        width: fit-content;
        height: 48px;
        white-space: pre-line; 
    }
    .footer__middle > p:nth-child(3),.footer__middle > p:nth-child(4){
        display: none;
    }
}
