.service {
    width: 90%;
    margin: 150px 5% 100px 5%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.service__top-item {
    width: 17vw;
    height: 11.5vw;
}

.service__top {
    display: flex;
    gap: 10px;
    position: relative;
}

.service__top .service__top-item:nth-child(1) {
    width: 23vw;
}

.service__top .service__top-item:nth-child(1) h1{
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 4vw;
    letter-spacing: -3px;
    background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    font-style: normal;
    text-transform: capitalize;
}

.service__top .service__top-item:nth-child(1) > p {
    color:  #376A66;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; 
    letter-spacing: 2.16px;
    text-transform: uppercase;
    white-space: nowrap;
}

.service__top .service__top-item:nth-child(2) {
    background-image: url(assets/images/serviceImg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__top .service__top-item:nth-child(3) {
    background-image: url(assets/images/serviceImg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__top .service__top-item:nth-child(4) {
    background-image: url(assets/images/serviceImg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__bottom-item {
    background-image: url(assets/images/serviceImg4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__bottom-up-item:nth-child(1) {
    background-image: url(assets/images/serviceImg5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__bottom-up-item:nth-child(2) {
    background-image: url(assets/images/serviceImg6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__bottom-up-item:nth-child(3) {
    background-image: url(assets/images/serviceImg7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__bottom-down-item:nth-child(2) {
    background-image: url(assets/images/serviceImg8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service__bottom {
    display: flex;
    gap: 10px;
}

.service__bottom-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service__bottom-up-item{
    width: 20vw;
    height: 15.6vw;
}

.text__straight {
    height: 15.6vw;
    margin-left: -10px;
}

.service__bottom-item:nth-child(1) {
    width: calc(30vw - 30px);
    height: calc(30vw);
}

.service__bottom-up {
    display: flex;
    gap: 10px;
}

.service__bottom-down {
    display: flex;
    gap: 10px;
}

.service__bottom-down > .service__bottom-down-item:nth-child(1) {
    width: 18vw;
    height: calc(14.4vw - 10px);
    background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
    color: white;
}

.service__bottom-down > .service__bottom-down-item:nth-child(2) {
    width: 25vw;
    height: 15.8vw;
}

.service__bottom-down > .service__bottom-down-item:nth-child(3) {
    height: 15.8vw;
    width: 15.8vw;
    display: flex;
}

.service__bottom-down > .service__bottom-down-item:nth-child(3) p{
    margin: auto;
    color: white;
    width: 10.7vw;
    height: 10.7vw;
    background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
    border-radius: 50%;
    line-height: 10.7vw;
    text-align: center;
    font-size: 1.46vw;
    font-weight: 700;
    text-transform: uppercase;
}

.service__bottom-number {
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6vw; /* 100% */
    letter-spacing: -2px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

.service__bottom-text {
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.scale__img {
    animation: zoomReverse 0.3s backwards ease-in-out ;
    font-size: 2vw;
    color: white;
    position: relative;
}

.scale__img > span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 47px;
    width: 47px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    backdrop-filter: blur(42.240150451660156px);
    opacity: 0.55;
}

.scale__img > p {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
    position: absolute;
    text-transform: capitalize;
    bottom: 5%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.scale__img:hover {
    transform: scale(1.7);
    cursor: pointer;
    animation: zoom 0.3s forwards ease-in-out;
    z-index: 100;
}

@keyframes zoom {
    0% {
        transform: scale(1) translateY(0px);
    }
    100% {
        transform: scale(1.7) translateY(20px);
    }
}

@keyframes zoomReverse {
    0% {
        transform: scale(1.7) translateY(20px);
    }
    100% {
        transform: scale(1) translateY(0px);
    }
}

.service__mobile {
    display: none;
}