.slide {
  overflow-x: hidden;
}

.slide__item {
  width: 100vw;
  height: 90vh;
  position: relative;
}

.slide__item-add {
  animation: slideAnimation 1s ease-in-out;
}

.slide__item-remove {
  animation: slideAnimationReverse 1s ease-in-out;
}

@keyframes slideAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideAnimationReverse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



.slide1 {
  background-image: url("/src/assets/images/slide1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide2 {
  background-image: url("/src/assets/images/slide2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide3 {
  background-image: url("/src/assets/images/slide3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide__title {
  position: absolute;
  left: 5%;
  transform: translateY(-55%);
  font-size: 127px;
  z-index: 20;
  width: 962px;
  flex-shrink: 0;
  line-height: 140px;
  -webkit-text-stroke: 1px white; /* Adjust the width and color */
  color: transparent;
  white-space: pre-line;
  z-index: 0;
  animation: toTop 1s forwards;
  opacity: 0;
  animation-delay: 1.2s;
}

@keyframes toTop {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.slide__content {
  position: absolute;
  top: 74%;
  transform: translateY(-50%);
  color: #f9f0ec;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 28px;
  width: 448px;
  animation: toLeft 1s forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

@keyframes toLeft {
  0% {
    right: 0;
    opacity: 0;
  }
  100% {
    right: 10%;
    opacity: 1;
  }
}

.slide__title-color {
  color: #4ca757;
  -webkit-text-stroke: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slide__button {
  height: 159px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  align-items: center;
  bottom: 14px;
}

#button__active {
  background-color: #4ca757 !important;
  background-image: none;
  animation: slideButtonKeyframe 0.3s forwards;
}

.slide__button-item {
  font-size: 64px;
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  animation: slideButtonKeyframeReverse 0.3s forwards;
  position: relative;
  z-index: 100;
}

@keyframes slideButtonKeyframe {
  0% {
    width: 104px;
    height: 104px;
  }
  100% {
    height: 159px;
    width: 159px;
  }
}

@keyframes slideButtonKeyframeReverse {
  0% {
    height: 159px;
    width: 159px;
  }
  100% {
    width: 104px;
    height: 104px;
  }
}

.slick__item-bottom {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  text-transform: uppercase;
}

.button-image-1 {
  background-image: url("/src/assets/images/slide1.png");
}

.button-image-2 {
  background-image: url("/src/assets/images/slide2.png");
}

.button-image-3 {
  background-image: url("/src/assets/images/slide3.png");
}

.image__download-profile {
    height: 64px;
    width: 64px;
}

.slide__content-top {
  color: white;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 140.625% */
  letter-spacing: -3.95px;
  text-transform: uppercase;
}

.slide__content-bottom {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  text-transform: uppercase;
}

.slide__process {
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #4ca757;
  position: absolute;
  bottom: 78px;
  transform: translateY(70%);
  animation: changeWidthProcess1 5s linear infinite;
}

.changeWidthProcess1 {
  animation: changeWidthProcess1 5s linear infinite;
}

.changeWidthProcess2 {
  animation: changeWidthProcess2 5s linear infinite;
}

.changeWidthProcess3 {
  animation: changeWidthProcess3 5s linear infinite;
}

@keyframes changeWidthProcess1 {
  0% {
    width: 25%;
  }
  100% {
    width: 50%;
  }
}

@keyframes changeWidthProcess2 {
  0% {
    width: 50%;
  }
  100% {
    width: 75%;
  }
}

@keyframes changeWidthProcess3 {
  0% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}