* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "intelligent";
  font-weight: normal;
  src: url("/src/assets/font/IntelligentBlack_1.otf") format("opentype");
}

@font-face {
  font-family: "intelligent";
  font-weight: bold;
  src: url("/src/assets/font/IntelligentBold_1.otf") format("opentype");
}

@font-face {
  font-family: "intelligent";
  font-weight: bolder;
  src: url("/src/assets/font/IntelligentExtrabold_1.otf") format("opentype");
}

@font-face {
  font-family: "intelligent";
  font-weight: lighter;
  src: url("/src/assets/font/IntelligentLight.otf") format("opentype");
}

@font-face {
  font-family: "intelligent";
  font-style: italic; 
  src: url("/src/assets/font/IntelligentLightItalic_1.otf") format("opentype");
}

@font-face {
  font-family: "intelligent";
  font-weight: normal;
  src: url("/src/assets/font/IntelligentRegular_3.otf") format("opentype");
}

@font-face {
  font-family: "intelligent";
  font-weight: normal;
  src: url("/src/assets/font/IntelligentSemibold_1.otf") format("opentype");
}

.app {
  font-family: "intelligent";
}
